<nav class="d-flex align-items-center justify-content-between p-3 bg-light shadow-sm rounded">
    <div>
        <img src="https://www.kmctitm.org/assets/images/logo.svg"
            alt="logo" width="150px" height="75px">
    </div>

    <div class="mt-3 list">
        <ul class="d-md-flex d-none list-unstyled m-0">
            <li class="me-4 nav-item"><a routerLink="" class="text-decoration-none  fw-bold px-5 py-2 d-inline-block">Home</a></li>
            <li class="me-4 nav-item"><a routerLink="about" class="text-decoration-none fw-bold px-5 py-2 d-inline-block">About</a></li>
            <li class="nav-item"><a routerLink="contact" class="text-decoration-none  fw-bold px-5 py-2 d-inline-block">Contact Us</a></li>
        </ul>
    </div>
</nav>


