<div class="about">
    <div class="text-center">
        <p class="aboutHead  fs-1">
            Why choose Us?<br> 
        </p>
        <p class="aboutContent fs-5">
            KMCT Institute of Technology and Management is a prestigious engineering college in Malappuram, with a key determination to provide the technology of tomorrow. The institution offers three B.Tech programmes, approved by AICTE and affiliated with APJ Abdul Kalam Technological University, Kerala, ensuring students receive quality engineering education. In addition to B.Tech Programs, the college also offers MBA, MCA, BBA, BCA, and Diploma in Engineering programs, catering to students pursuing business administration, computer applications, and technical fields. Situated at Kuttippuram, Malappuram, Kerala, our institution is driven by a resolute commitment to shaping the technology landscape of tomorrow and stands as a beacon of innovation in education.
        </p>
    </div>
   
        