<div class="home">
    <div class="homeBody">
        <img src="https://www.kmctitm.org/images/slider/image8b8e66ec4b12f186bbf00df69f29a26a6adf0a16.jpg"
            alt="background image" class="homebackground">
        <p class="homeP fs-1 ms-2" >KMCT <br> Group of Institutions.</p>
    </div>
    <div class="homeLower">
        <p class="homeLowerLeft fs-3 ms-5">KMCT Institute of Technology and Management </p>
        <p class="homeLowerRight ms-5">KMCT Institute of Technology and Management is a reputable educational institution located in Malappuram, dedicated to equipping students with the technological advancements of the future. The institution provides B.Tech programs across three disciplines, along with diploma programs in five fields, as well as BBA, BCA, MCA, and MBA programs, all aimed at delivering high-quality education. Positioned in Kuttippuram, Malappuram, Kerala, our institution is firmly committed to influencing the future of technology and serves as a leading light of innovation in the field of education.

        </p>
    </div>
</div>